@import "../../styles/sass/variables.scss";
@import "../../styles/sass/mixins.scss";

.Card {
  width: 50%;
  margin: 5 * $offsetWidth auto;
  color: $white;
  text-align: center;
  position: relative;
  @include box-shadow(
    0 $offsetWidth 3 * $offsetWidth -$offsetWidth rgba($lightgrey, 0.1)
  );
}

.Card:hover {
  cursor: pointer;
}

.card-header {
  outline: 1px solid $blue;
}

.card-body {
  padding: 2 * $offsetWidth;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ToDo .Card {
  background: $color-card-todo;
}

.InProgress .Card {
  background: $color-card-inprogress;
}

.Done .Card {
  background: $color-card-done;
}

.button-remove {
  @include button();
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  &:hover {
    opacity: 0.7;
  }
}

textarea {
  overflow: hidden;
  width: 80%;
}
